/* LibraryContent Component Styles */
/* Uses semantic tokens from design-system.css */

/* Toolbar enhancements */
.toolbar {
  /* Glassmorphism will be added in task 2.1 */
}

/* File card enhancements */
.fileCard {
  /* Hover effects will be added in task 2.2 */
}

.thumbnail {
  /* Scale effects will be added in task 2.2 */
}

.playOverlay {
  /* Glassmorphism overlay will be added in task 2.2 */
}

.durationBadge {
  /* Backdrop blur will be added in task 2.3 */
}

/* List view enhancements */
.listItem {
  /* Hover states will be added in task 2.4 */
}

/* Empty/loading states */
.emptyState {
  /* Refinements will be added in task 2.5 */
}

.loadingState {
  /* Refinements will be added in task 2.5 */
}
